.title{
  text-align: center;
  font-size: 15px; 
  margin-top: 50px; 
}

.select{
  margin-top: 10px;
  border-radius: 30px;
  font-size: large;
  text-align: center;
  width: 200px;
  height:25px;
}

.button{
  margin-top: 20px;
  width: 200px;
  color: #fff;
  background-color: #00bff8;
  border-radius: 30px;
}

.button:hover{
  color:#fff;
  background: #0090bb;
}

.registerStore{
  font-size: large;
  margin-top: 50px;
  text-align: center;
}