.title{
  text-align: center;
  font-size: 15px; 
  margin-top: 50px;
}

.Button{
  margin-top: 20px;
  width: 200px;
  color: #fff;
  background-color: #00bff8;
  border-radius: 30px;
}

.Button:hover{
  color:#fff;
  background: #0090bb;
}